asgiref==3.10.0
black==25.11.0
click==8.3.1
colorama==0.4.6
crispy-bootstrap5==2025.6
cssbeautifier==1.15.4
dj-database-url==3.0.1
dj-email-url==1.0.6
Django==5.2.7
django-allauth==65.12.1
django-cache-url==3.4.5
django-crispy-forms==2.4
django-debug-toolbar==6.0.0
django-jazzmin==3.0.1
djlint==1.36.4
EditorConfig==0.17.1
environ==1.0
environs==14.3.0
jsbeautifier==1.15.4
json5==0.12.1
marshmallow==4.1.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pillow==12.0.0
platformdirs==4.5.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
pytokens==0.3.0
PyYAML==6.0.3
regex==2025.11.3
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
